* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Apple Braille", sans-serif;
    min-width: 720px;
}

.header__title {
    margin: 0 auto;
    text-align: center;
    color: blue;


}

.form {
    height: 40vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form input,
.form select {
    padding: 1rem;
    width: 400px;
}

.button {
    align-items: center;
    padding: 1rem;
    background-color: gainsboro;
    color: blue;
}

.button:active {
    background-color: pink;
}