
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    overflow-x: hidden;
}

body {
    font-size: 20px;
    font-family: "Apple Braille", sans-serif;
    min-width: 900px;
}

#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index: 2;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: gray;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
    content: "";
}
#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
}
#burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
}
#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
}
#burger-menu.close span:before {
    content: " ";
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}
#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}
#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

#menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
}
#menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.5);
}
#menu ul {
    padding: 0;
}
#menu li {
    list-style: none;
}
#menu a {
    color: #fff;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}
.header-btn__logout {
    padding: 1rem;
}

.main {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    border: 1px solid grey;
}

.main__aside {
    min-width: 30%;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    border: 1px solid grey;
    background-color: beige;
}
.main__aside > * {
    padding: 1rem;
}
.main__aside-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
.main__aside-block > * {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}
.main__aside .main__icon {
    height: 65px;
    width: 65px;
}

.main__table {
    height: 40vh;
    min-width: 70%;
    padding: 1rem;
    border: 1px solid grey;
    background-color: aliceblue;
}
.main__table tr, .main__table td, .main__table th {
    border: 1px solid gray;
    padding: 1rem;
}

button:active {
    background-color: pink;
}

